//https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css
@import url("https://use.typekit.net/lps1arf.css");

* {
  transition: all 200ms ease;
}

@media screen and (max-height: 640px) {
  body {
    position: relative;
    height: auto;
    min-height: 740px !important;
  }
}

@media screen and (max-width: 560px) {
  body {
    position: relative;
    width: auto;
    min-width: 560px !important;
    height: auto;
    min-height: 770px !important;
  }
}

p, .btn-block {
  font-weight: 400;
  font-style: normal;
  margin-top: 3px;
}

.main {
  width: 100%;
  height: 100%;
  z-index: 20;

  @media screen and (max-height: 640px) {
    padding-top: 100px;
  }

  @media screen and (max-height: 450px) {
    padding-top: 200px;
  }

  #vcard {
    max-width: 610px;
    height: 495px;
    background: white;
    margin-top: calc(50vh - 240px);
    -moz-border-radius: 20px !important;
    -webkit-border-radius: 20px !important;
    border-radius: 20px !important;
    z-index: 20;

    &:hover {
      transform: scale(1.04);
    }
  }
}

.card-header-img {
  img {
    margin-top: -95px;
    border: 5px solid white;
    height: 8rem;
    transition-delay: 200ms;
    will-change: transform;
  }
}

.content {
  background-color: white;
  font-family: proxima-nova, Tahoma, Helvetica, Verdana, sans-serif;

  .card-header {
    font-style: normal;
    background-color: inherit;
    border-bottom: 0 none;

    h1 {
      font-weight: 800;
      font-size: 22px;
      text-transform: uppercase;
      line-height: 1.2;
      letter-spacing: 2px;
      margin-top: -22px;
    }

    h2 {
      font-weight: 700;
      font-size: 18px;
      letter-spacing: 1px;
    }

    .btn-block {
      margin-top: 12px;
      width: 245px;
      position: absolute;
      left: 50%;
      -ms-transform: translate(-50%, 0);
      transform: translate(-50%, 0);

      line-height: 28px;
      font-size: 16px;
      border-radius: 8px;
      background-color: black;
      border-color: black;

      span {
        font-weight: 800;
        letter-spacing: 2px;
      }

      &:hover, &:focus, &:active, &.active, &:active:focus {
        background-color: #4d4d4d;
        -webkit-box-shadow: -2px -1px 8px 4px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: -3px -2px 15px 7px rgba(0, 0, 0, 0.425);
        box-shadow: -4px -3px 23px 11px rgba(0, 0, 0, 0.35);
      }

      a:link, a:visited, a:hover, a:active {
        text-decoration: none;
      }
    }
  }

  .card-body {
    margin-top: 20px;

    article {
      -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
      -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
      user-select: none; /* Non-prefixed version, supported by Chrome, Edge, Opera and Firefox */
    }

    p {
      background-color: white;
      font-size: 16px;

      a {
        color: #008D58;
      }
    }
  }

  .card-footer {
    background-color: white;
    border-top: none;
    margin-top: -25px;

    .icon {
      height: 45px;
      margin: 0 4px;
    }

    #icon-first {
      height: 36px;
      margin: 2px 9px;
      padding-top: 1px;
    }

    .icon-static:hover {
      animation: pulse 1.3s infinite;

      @keyframes pulse {
        50% {
          transform: scale(1.2);
        }
      }
    }
  }
}

#video_background {
  position: absolute;
  bottom: 0;
  right: 0;
  min-width: 100%;
  width: auto;
  min-height:100%;
  height: auto;
  z-index: -1000;
  overflow: hidden;

}

#copyright-label {
  position: absolute;
  left: 15px;
  bottom: 8px;
  font-size: 13px;
}
